// fonts
$font-Inter: "Inter", sans-serif;
$font-Albert-Sans: "Albert-Sans", sans-serif;
$font-Roboto: "Roboto", sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-dark: #656B71;
$color-grey-bg: #E9EAE9;
// colors
