@import
    './vendors/normalize',
    './abstracts/variables',
    './abstracts/media',
    './base/globals';

@import
    './layout/header',
    './layout/home',
    './layout/blog_wrap',
    './layout/footer';
