// blog_wrap
.blog_wrap {

  .container {
    background: $color-white;
    padding-top: 18px;
    display: flex;
    align-items: start;
    gap: 40px;
  }

  .social_fix {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-bottom: 1px solid $color-grey-bg;
  }

  .blog_wrap_in {
    max-width: 764px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .blog_block {
    display: flex;
    flex-direction: column;
    gap: 16px;

    img {
      border-radius: 5px;
      width: 100%;
      height: 768px;
      object-fit: cover;
      object-position: center;
    }

    b {
      font-family: $font-Albert-Sans;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      color: $color-black;
    }
  }

  p {
    font-family: $font-Albert-Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: $color-black;
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: $color-black;
    margin-bottom: 8px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-left: 28px;

    li {
      position: relative;
      font-family: $font-Albert-Sans;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      color: $color-black;

      b {
        font-weight: 700;
      }

      &::before {
        content: '';
        position: absolute;
        left: -28px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $color-red;
      }
    }
  }

  blockquote {
    font-family: $font-Albert-Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $color-black;
    position: relative;
    padding: 42px 36px;
    border-radius: 0 5px 5px 0;
    background: #FBF2F2;
    border-left: 4px solid $color-red;

    .one {
      position: absolute;
      top: 16px;
      left: 36px;
    }

    .two {
      position: absolute;
      bottom: 16px;
      right: 36px;
    }
  }

  .red_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 5px;
    background: $color-red;
    gap: 24px;
    font-family: $font-Albert-Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
  }

  .more_block {
    padding: 24px 88px;
    border-radius: 24px;
    background: $color-red;
    text-align: center;

    h2 {
      font-family: $font-Roboto;
      font-weight: 700;
      font-size: 44px;
      line-height: 100%;
      color: $color-white;
    }

    p {
      color: $color-white;
      margin: 12px 0 32px 0;
    }

    button {
      display: flex;
      align-items: center;
      gap: 24px;
      justify-content: center;
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      text-align: center;
      color: $color-red;
      border-radius: 5px;
      padding: 12px;
      background: $color-white;
      height: 56px;
      width: 100%;
    }
  }

  .comment_block {
    .teg {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 64px;

      span {
        padding: 9px 12px;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        color: $color-black;
        border-radius: 3px;
        padding: 9px 12px;
        background: #FBF2F2;
      }
    }

    .comment_send {
      padding: 16px 24px;
      background: #FBF2F2;
      margin-bottom: 32px;

      &_head {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h6 {
          font-family: $font-Albert-Sans;
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          text-transform: uppercase;
          color: $color-black;
        }

        h5 {
          font-weight: 700;
          font-size: 16px;
          line-height: 25px;
          color: $color-black;
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }

      .comment_inputs {
        padding: 8px 13px;
        border-radius: 4px;
        background: $color-white;
        border: 1px solid #E9EAE9;
        padding: 8px 13px;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;

        input {
          font-family: $font-Albert-Sans;
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          color: #656B71;
          width: 100%;
        }

        button {
          flex-shrink: 0;
          width: 36px;
          height: 36px;
          border-radius: 4px;
          background: $color-red;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #656B71;
        text-align: center;
        margin-top: 12px;
      }
    }
  }

  .tabs__head {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 32px;
    border-bottom: 1px solid #E9EAE9;
    padding-bottom: 5px;
  }

  .tabs__tab {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #656B71;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 0;
      height: 4px;
      width: 100%;
      background: $color-red;
      display: none;
    }
  }

  .tabs__tab[aria-selected="true"] {
    font-weight: 600;

    &::before {
      display: block;
    }

  }

  .tabs__panels {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #eef3fb;
    box-shadow: 0 8px 24px rgba(13, 36, 77, 0.04);
  }

  .tabs__panel {
    display: block;
  }

  .tabs__panel[hidden] {
    display: none;
  }
}
// blog_wrap
