// home
.home {
  .container {
    background: $color-white;
  }

  &_head {
    padding: 24px 0 0 0;

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: $color-grey-dark;
    }

    h1 {
      font-family: $font-Roboto;
      font-weight: 700;
      font-size: 44px;
      line-height: 100%;
      color: $color-black;
      padding-bottom: 26px;
      margin-top: 20px;
      border-bottom: 1px solid $color-grey-bg;
      position: relative;

      @include media('lg') {
        font-size: 28px;
      }

      &::before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 138px;
        height: 4px;
        background: $color-red;
      }
    }
  }

  .share_btns {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
    padding: 24px 0;

    @include media('lg') {
      justify-content: start;
    }

    .eye {
      display: flex;
      align-items: center;
      gap: 7px;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: $color-grey-dark;
    }

    .share_btn {
      width: 36px;
      height: 36px;
      display: flex;
      flex-shrink: 0;
    }
  }

  &_img {
    width: 100%;
    height: 542px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;

    @include media('md') {
      height: 300px;
    }

    @include media('xs') {
      height: 200px;
    }
  }

  p {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: $color-black;
    padding: 24px 0;
    border-bottom: 1px solid $color-grey-bg;

    @include media('lg') {
      font-size: 18px;
      line-height: 25px;
    }
  }
}
// home
